body {
	margin: 0;
  	background-color: white;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	justify-content: center;
}



/* Navigation */
.nav-bar {
    background-color: white;
    position: sticky;
    top: 0;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    align-items: center;

    padding: 10px 50px 0px 50px;
}
.nav-left {
	flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nav-left p {
	font-variant: small-caps;
	font-size: 30px;
}
.nav-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-right {
	flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
ul {
	display: flex;
	align-items: top;
	justify-content: center;
	list-style-type: none;
	margin: 0px;
	padding: 0px 0px;
	background-color: rgba(122,122,122,1.00);
}
li{
	display: inline-block;
	text-align: center;
	margin: 0px;
	padding: 0px 5px;
	width: 100%;
}
.clickable-block {
	margin: 0px 0px;
	padding: 10px 20px;
	font-size: clamp(5px, 2.5vw, 10px);
	align-content: center;
}
.clickable-block-selected {
	margin: 0px 0px;
	padding: 10px;
	border-bottom: solid;
	border-width: 1px;
	border-bottom-width: 3px;
	font-size: clamp(5px, 2.5vw, 15px);
	align-content: center;
}
.footer {
	display: flex;
	align-content: bottom;
	align-items: center;
	justify-content: center;
	min-height: 250px;
	background-color: rgba(192,192,192,1.00);
}
/* End Navigation */



/* Links */
a:link {
	font-size: 40px;
	color: rgba(25,25,25,1);
	text-decoration: none;
}
a:visited {
	font-size: 40px;
	color: rgba(25,25,25,1);
	text-decoration: none;
}
a:hover {
	font-size: 40px;
	color: rgba(25,25,25,1);
	text-decoration: underline;
}
a:active {
	font-size: 40px;
	color: rgba(25,25,25,1);
	text-decoration: underline;
}
/* End Links */



/* General */
.content {
	min-height: 1000px;
	border: solid;
	border-width: 1px;
	border-right: none;
	border-left: none;
	border-color: black;
}
div {
	margin: 0px;
	padding: 0px;
}
h1 {
  	color: rgba(42,42,42,1.00);
	margin: 0px;
	padding: 0px;
}
p {
  	color: rgba(0,0,0,1);
	margin: 0px;
	padding: 0px
}