body {
	margin: 0;
  	background-color: white;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	justify-content: center;
}



/* Navigation */
.nav-bar {
    background-color: white;
    position: sticky;
    top: 0;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    align-items: center;
	margin: 0px 5px;
	padding: clamp(5px, 1vw, 25px);
}
.nav-left {
	flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.nav-left p {
	font-variant: small-caps;
	font-size: clamp(5px, 2.5vw, 30px)
}
.nav-center {
	flex: 0 1 auto;
	min-width: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-right {
	flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.clickable-block {
	margin: 0 clamp(1px, 0.5vw, 5px);
	padding: 0 clamp(2px, .8vw, 25px);
	align-content: center;
}
.clickable-block-selected {
	margin: 0 clamp(1px, 0.5vw, 5px);
	padding: 0 clamp(0px, .8vw, 25px);
	border-bottom: solid;
	border-width: 1px;
	border-bottom-width: 3px;
	align-content: center;
}
.clickable-block h1, .clickable-block-selected h1 {
	font-size: clamp(4px, 2.5vw, 25px);
}
.footer {
	display: flex;
	align-content: bottom;
	align-items: center;
	justify-content: center;
	min-height: 250px;
	background-color: rgba(192,192,192,1.00);
}
/* End Navigation */



/* Links */
a:link {
	font-size: 40px;
	color: rgba(25,25,25,1);
	text-decoration: none;
}
a:visited {
	font-size: 40px;
	color: rgba(25,25,25,1);
	text-decoration: none;
}
a:hover {
	font-size: 40px;
	color: rgba(25,25,25,1);
	text-decoration: underline;
}
a:active {
	font-size: 40px;
	color: rgba(25,25,25,1);
	text-decoration: underline;
}
/* End Links */



/* General */
.content {
	min-height: 1000px;
	border: solid;
	border-width: 1px;
	border-right: none;
	border-left: none;
	border-color: black;
}
div {
	margin: 0px;
	padding: 0px;
}
h1 {
  	color: rgba(42,42,42,1.00);
	margin: 0px;
	padding: 0px;
}
p {
  	color: rgba(0,0,0,1);
	margin: 0px;
	padding: 0px
}